---
import { Image } from 'astro:assets'
import { getLangFromUrl, getTranslations } from '@i18n/utils'
import SocialMedia from '@atoms/Social.astro'
import LanguagePicker from '@atoms/LanguagePicker.astro'
import ToggleThemeButton from '@atoms/ToggleThemeButton.astro'
import { SectionLink } from '@atoms/SectionLink'

import me from '@assets/me.webp'
import styles from './Header.module.css'

const lang = getLangFromUrl(Astro.url)
const { about, description, name, work } = getTranslations(lang).header
const { cv, contact } = getTranslations(lang).buttons
---

<header id='home' class={styles.Header}>
  <div class={styles.buttonsContainer}>
    <LanguagePicker />
    <ToggleThemeButton />
  </div>
  <section class={styles.head}>
    <div class={styles.info}>
      <h1>{name}</h1>
      <h3>{work}</h3>
    </div>
    <div class={styles.buttons}>
      <a class='btn btn-secondary' href='#'>
        {cv}
      </a>
      <SectionLink
        className='btn btn-primary'
        name={contact}
        href='contact'
        client:visible
      >
        {contact}
      </SectionLink>
    </div>
  </section>
  <section class={styles.body}>
    <div class={styles.figureContainer}>
      <figure>
        <Image src={me} alt='Fabrizio Nucci' />
      </figure>
    </div>
    <div class={styles.about}>
      <h3>{about}</h3>
      <p>{description}</p>
    </div>
  </section>
  <SocialMedia />
</header>
